@layer reset, base, tokens, recipes, utilities;

@layer reset {
    *,
    *::before,
    *::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
}

@layer base {
    body {
        color: var(--colors-white);
        background: var(--colors-body);
        line-height: 1.4;
    }

    /**
    * Headings
    *
    * In most cases you should avoid styling a specific heading type to have
    * custom distinct styles that would apply to all headings of that type.
    * Instead create a new component like c-heading or c-title. This may not
    * be the case when a CMS needs default headings to appear a specific way.
    */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 20px;
        font-size: 1.2rem;
        line-height: 1.5;
    }

    /**
    * Paragraphs
    */
    p {
        margin: 0 0 20px;
    }


    /**
    * Lists
    */
    ul,
    ol,
    dl {
        margin: 0 0 20px;
    }


    /**
    * Link Styles
    */
    a {
        color: var(--colors-green);
        text-decoration: none;
    }
}
